<!DOCTYPE html>
<!--
Inicio del Proyecto
Iniciar Sesión solicitando el nombre del usuario y su clave
-->
<html xmlns="https://www.thymeleaf.org">
<head th:replace="layout/plantilla :: head"></head>
<title>Bienvenido</title>
<body>	
	<div class="sidenav">
	         <div class="login-main-text">
	            <h2>MARKET<br> SUPERIOR</h2>
	            <h2>Bienvenidos</h2>
	         </div>
	      </div>
	      <div class="main">
	         <div class="col-md-6 col-sm-12">
	            <div class="login-form">
	               <form action="/login" method="post">
	                  <div class="form-group">
	                     <label>Nombre de Usuario</label>
	                     <input type="text" class="form-control" placeholder="" name="nombreUsuario" id="Usuario">
	                  </div>
	                  <div class="form-group">
	                     <label for="pwd">Password</label>
	                     <input type="password" class="form-control" placeholder="" name="password" id="pwd">
	                  </div>
	                  <div style="color: red">
						<span th:text="${error}"></span>
						<br>
						<button type="submit" class="btn btn-primary">Ingresar</button>
						<br><br>
						<!--  <button type="submit" class="btn btn-secondary">Register</button>-->
					</div>
	                                    
	               </form>
	            </div>
	         </div>
	      </div>
		
	
</body>
</html>