<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head th:replace="layout/plantilla :: head">

</head>
<title>Productos BD</title>
<body>
<header th:replace="layout/plantilla :: header"></header>
	  <div class="wrapper">
        <!-- Sidebar  -->
        <nav th:replace="layout/plantilla :: lateral" id="sidebar" ></nav>

         <!-- Page Content  -->
         <div id="content">
         <h1 style="text-align: center; color: blue">Listado de Productos en la Base de Datos </h1>
         
                <form action="/csv">
                  
                    <input type="submit" name="accion" value="Regresar" class="btn btn-success">
                </form>
         <br>
         <table class="table table-striped table-sm">
		
			<thead class="thead-light">
					<tr> 
							<th>CODIGO</th>
							<th>NOMBRE</th>
							<th>NIT PROVEEDOR</th>
							<th>PRECIO COMPRA</th>
							<th>IVA</th>
							<th>PRECIO VENTA</th>
							
					</tr>
			</thead>
			<tbody>
					<tr th:each="producto : ${listaProductos}">
						<td th:text="${producto.id}"> </td>
						<td th:text="${producto.nombre}"> </td>
						<td th:text="${producto.idProveedor}"> </td>
						<td th:text="${producto.precioCompra}"> </td>
						<td th:text="${producto.ivaCompra}"> </td>
						<td th:text="${producto.precioVenta}"> </td>
						<!--  <td>
							<a th:href="@{'/listar/' + ${producto.codigo}}">Modificar</a>
								&nbsp;&nbsp;&nbsp;
							<a th:href="@{'/delete/' + ${producto.codigo}}">Borrar</a>
						</td>-->
					</tr>
			
			</tbody>
			
		</table>
 	</div> 
 </div>
</body>
</html>