<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/plantilla :: head"></head>
<title>Productos</title>
<body>
<header th:replace="layout/plantilla :: header"></header>
	
	  <div class="wrapper">
        <!-- Sidebar  -->
        <nav th:replace="layout/plantilla :: lateral" id="sidebar" ></nav>
  
        <!-- Page Content  -->
        <div id="content">
              
            <h1 style="text-align: center; color: blue">Carga de Productos </h1>
            <h3 style="text-align: center; color: blue" >Cargue de Archivo CSV</h3>
            <br/><br/>
            <div class="row">
                <div class="col-sm-4" >
                    
                </div>
                <div class="col-sm-4">
                    <form th:action="@{/cargarcsv}" enctype="multipart/form-data" method="POST">
                        <div class="custom-file">
                            <input type="file" name="archivo" accept=".csv" 
                                                                 class="custom-file" size="40">
                        </div>
                        <br/>
                        <input type="submit" name="accion" value="Subir Archivo" class="btn btn-primary"><br><br>
                        
                    </form>
                    <form action="/listarpro">
                   <br>
                    <input type="submit" name="accion" value="Ver Productos en DB" class="btn btn-success"><br/>
                	</form>
                </div>
                <h3 th:text="${mensaje}"></h3>
            </div>
       
          </div>
   </div>
    
</body>
</html>