<!DOCTYPE html>
<html>
<head th:fragment="head">
<meta charset="ISO-8859-1">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link rel="stylesheet" href="assets/css/css.css" />	
	
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
</head>
<title>aca titulo</title>
<body>
<header th:fragment="header">
		 <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
					 <!-- Brand -->
  					<a class="navbar-brand" href="#">MARKET SUPERIOR   </a>
  					<p>BOGOTA -- MEDELLIN -- CALI</p>
                </div>
            </nav>
</header>
<div class="wrapper">
	  
		  
	        <!-- Sidebar  -->
	  
	        <nav id="sidebar" th:fragment="lateral">
	
	            <ul class="list-unstyled components">
					<li>
	                    <a href="/csv">PRODUCTOS</a>
	                </li>
	                <li class="">
	                    <a href="#">CLIENTES</a>
	                </li>
	                <li>
	                    <a href="#">VENTAS</a>
	                </li>
	                <li>
	                    <a href="#">REPORTES</a>
	                </li>
	                
	                
	            </ul>
	
	            <ul class="list-unstyled CTAs">
	                <li>
	                    <a href="#" class="download">CONSOLIDACION</a>
	                </li>
	                
	            </ul>
	        </nav>
	
        <!-- Page Content  -->
        <div id="content">
           
            <h2>PROYECTO CICLO 4</h2>
            
            <div class="line"></div>

            <h2>GRUPO 5</h2>
            <p>SUPER TIENDAS MARKET SUPERIOR</p>

            <div class="line"></div>

            <h2>Jhon Alexander Sanchez</h2>
            <h2>Andersson Salinas</h2>
            <h2>Nelson Salguero</h2>
            
            <div class="line"></div>

            <h3>*******************************************************************************</h3>
        	</div>
    </div>
     
</body>
</html>